/*
ZLayer API

Container orchestration API for ZLayer

API version: 0.1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zlayer

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// ContainerNetworksAPIService ContainerNetworksAPI service
type ContainerNetworksAPIService service

type ApiConnectContainerNetworkRequest struct {
	ctx context.Context
	ApiService *ContainerNetworksAPIService
	idOrName string
	connectBridgeNetworkRequest *ConnectBridgeNetworkRequest
}

func (r ApiConnectContainerNetworkRequest) ConnectBridgeNetworkRequest(connectBridgeNetworkRequest ConnectBridgeNetworkRequest) ApiConnectContainerNetworkRequest {
	r.connectBridgeNetworkRequest = &connectBridgeNetworkRequest
	return r
}

func (r ApiConnectContainerNetworkRequest) Execute() (*http.Response, error) {
	return r.ApiService.ConnectContainerNetworkExecute(r)
}

/*
ConnectContainerNetwork Attach a container to a network.

# Errors

- [`ApiError::BadRequest`] for an empty `container_id` or invalid
  `ipv4_address`.
- [`ApiError::NotFound`] when no network matches `id_or_name`.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param idOrName Network id or name
 @return ApiConnectContainerNetworkRequest
*/
func (a *ContainerNetworksAPIService) ConnectContainerNetwork(ctx context.Context, idOrName string) ApiConnectContainerNetworkRequest {
	return ApiConnectContainerNetworkRequest{
		ApiService: a,
		ctx: ctx,
		idOrName: idOrName,
	}
}

// Execute executes the request
func (a *ContainerNetworksAPIService) ConnectContainerNetworkExecute(r ApiConnectContainerNetworkRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContainerNetworksAPIService.ConnectContainerNetwork")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/container-networks/{id_or_name}/connect"
	localVarPath = strings.Replace(localVarPath, "{"+"id_or_name"+"}", url.PathEscape(parameterValueToString(r.idOrName, "idOrName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.connectBridgeNetworkRequest == nil {
		return nil, reportError("connectBridgeNetworkRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.connectBridgeNetworkRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiCreateContainerNetworkRequest struct {
	ctx context.Context
	ApiService *ContainerNetworksAPIService
	createBridgeNetworkRequest *CreateBridgeNetworkRequest
}

func (r ApiCreateContainerNetworkRequest) CreateBridgeNetworkRequest(createBridgeNetworkRequest CreateBridgeNetworkRequest) ApiCreateContainerNetworkRequest {
	r.createBridgeNetworkRequest = &createBridgeNetworkRequest
	return r
}

func (r ApiCreateContainerNetworkRequest) Execute() (*BridgeNetwork, *http.Response, error) {
	return r.ApiService.CreateContainerNetworkExecute(r)
}

/*
CreateContainerNetwork Create a new bridge or overlay network.

# Errors

- [`ApiError::BadRequest`] if the network name or subnet is malformed.
- [`ApiError::Conflict`] if a network with the same name already exists.
- [`ApiError::Forbidden`] / [`ApiError::Unauthorized`] from the auth layer.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateContainerNetworkRequest
*/
func (a *ContainerNetworksAPIService) CreateContainerNetwork(ctx context.Context) ApiCreateContainerNetworkRequest {
	return ApiCreateContainerNetworkRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return BridgeNetwork
func (a *ContainerNetworksAPIService) CreateContainerNetworkExecute(r ApiCreateContainerNetworkRequest) (*BridgeNetwork, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BridgeNetwork
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContainerNetworksAPIService.CreateContainerNetwork")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/container-networks"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createBridgeNetworkRequest == nil {
		return localVarReturnValue, nil, reportError("createBridgeNetworkRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createBridgeNetworkRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteContainerNetworkRequest struct {
	ctx context.Context
	ApiService *ContainerNetworksAPIService
	idOrName string
	force *bool
}

// If true, delete even if the network still has attachments.
func (r ApiDeleteContainerNetworkRequest) Force(force bool) ApiDeleteContainerNetworkRequest {
	r.force = &force
	return r
}

func (r ApiDeleteContainerNetworkRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteContainerNetworkExecute(r)
}

/*
DeleteContainerNetwork Delete a bridge network. Refuses if the network still has attachments unless `?force=true` is set.

# Errors

- [`ApiError::NotFound`] when no network matches `id_or_name`.
- [`ApiError::Conflict`] when the network still has attachments and
  `force` is false.
- Auth errors propagated from the `operator` role check.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param idOrName Network id or name
 @return ApiDeleteContainerNetworkRequest
*/
func (a *ContainerNetworksAPIService) DeleteContainerNetwork(ctx context.Context, idOrName string) ApiDeleteContainerNetworkRequest {
	return ApiDeleteContainerNetworkRequest{
		ApiService: a,
		ctx: ctx,
		idOrName: idOrName,
	}
}

// Execute executes the request
func (a *ContainerNetworksAPIService) DeleteContainerNetworkExecute(r ApiDeleteContainerNetworkRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContainerNetworksAPIService.DeleteContainerNetwork")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/container-networks/{id_or_name}"
	localVarPath = strings.Replace(localVarPath, "{"+"id_or_name"+"}", url.PathEscape(parameterValueToString(r.idOrName, "idOrName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.force != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "force", r.force, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiDisconnectContainerNetworkRequest struct {
	ctx context.Context
	ApiService *ContainerNetworksAPIService
	idOrName string
	disconnectBridgeNetworkRequest *DisconnectBridgeNetworkRequest
}

func (r ApiDisconnectContainerNetworkRequest) DisconnectBridgeNetworkRequest(disconnectBridgeNetworkRequest DisconnectBridgeNetworkRequest) ApiDisconnectContainerNetworkRequest {
	r.disconnectBridgeNetworkRequest = &disconnectBridgeNetworkRequest
	return r
}

func (r ApiDisconnectContainerNetworkRequest) Execute() (*http.Response, error) {
	return r.ApiService.DisconnectContainerNetworkExecute(r)
}

/*
DisconnectContainerNetwork Detach a container from a network.

# Errors

- [`ApiError::BadRequest`] when `container_id` is empty.
- [`ApiError::NotFound`] when the network or the container-on-network
  pair is not known (unless `force` was passed).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param idOrName Network id or name
 @return ApiDisconnectContainerNetworkRequest
*/
func (a *ContainerNetworksAPIService) DisconnectContainerNetwork(ctx context.Context, idOrName string) ApiDisconnectContainerNetworkRequest {
	return ApiDisconnectContainerNetworkRequest{
		ApiService: a,
		ctx: ctx,
		idOrName: idOrName,
	}
}

// Execute executes the request
func (a *ContainerNetworksAPIService) DisconnectContainerNetworkExecute(r ApiDisconnectContainerNetworkRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContainerNetworksAPIService.DisconnectContainerNetwork")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/container-networks/{id_or_name}/disconnect"
	localVarPath = strings.Replace(localVarPath, "{"+"id_or_name"+"}", url.PathEscape(parameterValueToString(r.idOrName, "idOrName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.disconnectBridgeNetworkRequest == nil {
		return nil, reportError("disconnectBridgeNetworkRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.disconnectBridgeNetworkRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetContainerNetworkRequest struct {
	ctx context.Context
	ApiService *ContainerNetworksAPIService
	idOrName string
}

func (r ApiGetContainerNetworkRequest) Execute() (*BridgeNetworkDetails, *http.Response, error) {
	return r.ApiService.GetContainerNetworkExecute(r)
}

/*
GetContainerNetwork Inspect a single bridge network by id or by name.

# Errors

[`ApiError::NotFound`] when no network matches `id_or_name`.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param idOrName Network id or name
 @return ApiGetContainerNetworkRequest
*/
func (a *ContainerNetworksAPIService) GetContainerNetwork(ctx context.Context, idOrName string) ApiGetContainerNetworkRequest {
	return ApiGetContainerNetworkRequest{
		ApiService: a,
		ctx: ctx,
		idOrName: idOrName,
	}
}

// Execute executes the request
//  @return BridgeNetworkDetails
func (a *ContainerNetworksAPIService) GetContainerNetworkExecute(r ApiGetContainerNetworkRequest) (*BridgeNetworkDetails, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BridgeNetworkDetails
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContainerNetworksAPIService.GetContainerNetwork")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/container-networks/{id_or_name}"
	localVarPath = strings.Replace(localVarPath, "{"+"id_or_name"+"}", url.PathEscape(parameterValueToString(r.idOrName, "idOrName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListContainerNetworksRequest struct {
	ctx context.Context
	ApiService *ContainerNetworksAPIService
	label *string
}

// Optional label filter in &#x60;key&#x3D;value&#x60; form. Only networks whose labels contain a matching pair are returned.
func (r ApiListContainerNetworksRequest) Label(label string) ApiListContainerNetworksRequest {
	r.label = &label
	return r
}

func (r ApiListContainerNetworksRequest) Execute() ([]BridgeNetwork, *http.Response, error) {
	return r.ApiService.ListContainerNetworksExecute(r)
}

/*
ListContainerNetworks List all bridge networks, optionally filtered by label.

# Errors

[`ApiError::BadRequest`] when the `label` query param is not in
`key=value` form.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListContainerNetworksRequest
*/
func (a *ContainerNetworksAPIService) ListContainerNetworks(ctx context.Context) ApiListContainerNetworksRequest {
	return ApiListContainerNetworksRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []BridgeNetwork
func (a *ContainerNetworksAPIService) ListContainerNetworksExecute(r ApiListContainerNetworksRequest) ([]BridgeNetwork, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []BridgeNetwork
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContainerNetworksAPIService.ListContainerNetworks")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/container-networks"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.label != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "label", r.label, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
