/*
ZLayer API

Container orchestration API for ZLayer

API version: 0.1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zlayer

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// ImagesAPIService ImagesAPI service
type ImagesAPIService service

type ApiListImagesHandlerRequest struct {
	ctx context.Context
	ApiService *ImagesAPIService
}

func (r ApiListImagesHandlerRequest) Execute() ([]ImageInfoDto, *http.Response, error) {
	return r.ApiService.ListImagesHandlerExecute(r)
}

/*
ListImagesHandler List all cached images known to the runtime.

# Errors

Returns an error if authentication fails or the runtime cannot enumerate
its image cache (for example, when the backend does not implement
`list_images`).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListImagesHandlerRequest
*/
func (a *ImagesAPIService) ListImagesHandler(ctx context.Context) ApiListImagesHandlerRequest {
	return ApiListImagesHandlerRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []ImageInfoDto
func (a *ImagesAPIService) ListImagesHandlerExecute(r ApiListImagesHandlerRequest) ([]ImageInfoDto, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []ImageInfoDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ImagesAPIService.ListImagesHandler")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/images"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPruneImagesHandlerRequest struct {
	ctx context.Context
	ApiService *ImagesAPIService
}

func (r ApiPruneImagesHandlerRequest) Execute() (*PruneResultDto, *http.Response, error) {
	return r.ApiService.PruneImagesHandlerExecute(r)
}

/*
PruneImagesHandler Prune dangling / unused images from the runtime's cache.

# Errors

Returns an error if authentication fails or the runtime backend does not
support pruning.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPruneImagesHandlerRequest
*/
func (a *ImagesAPIService) PruneImagesHandler(ctx context.Context) ApiPruneImagesHandlerRequest {
	return ApiPruneImagesHandlerRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PruneResultDto
func (a *ImagesAPIService) PruneImagesHandlerExecute(r ApiPruneImagesHandlerRequest) (*PruneResultDto, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PruneResultDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ImagesAPIService.PruneImagesHandler")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/system/prune"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPullImageHandlerRequest struct {
	ctx context.Context
	ApiService *ImagesAPIService
	pullImageRequest *PullImageRequest
	stream *bool
}

func (r ApiPullImageHandlerRequest) PullImageRequest(pullImageRequest PullImageRequest) ApiPullImageHandlerRequest {
	r.pullImageRequest = &pullImageRequest
	return r
}

// When &#x60;true&#x60;, stream NDJSON &#x60;PullProgressDto&#x60; events instead of a single JSON response. Defaults to &#x60;false&#x60; (snapshot pull).
func (r ApiPullImageHandlerRequest) Stream(stream bool) ApiPullImageHandlerRequest {
	r.stream = &stream
	return r
}

func (r ApiPullImageHandlerRequest) Execute() (*PullImageResponse, *http.Response, error) {
	return r.ApiService.PullImageHandlerExecute(r)
}

/*
PullImageHandler Pull an OCI image into the runtime's local cache.

Two behaviours, selected by the `stream` query parameter:

- `stream=false` (default): blocking pull. The handler returns only
  after the image is resolved and stored locally (or the pull fails).
  Response is `{"reference":"...","digest":"...","size_bytes":...}`
  ([`PullImageResponse`]).
- `stream=true`: NDJSON stream of [`PullProgressDto`] events. Each
  `Status { ... }` becomes one JSON line; the final `Done { ... }`
  becomes one line and the stream closes. Errors mid-pull surface as
  a single `{"error":"..."}` line and terminate the stream.

When `pull_policy` is omitted the default is `"always"`, matching
Docker-compat semantics for `POST /images/create`.

# Errors

Returns an error if authentication fails, the reference is empty, the
image cannot be pulled, or the user lacks the operator role.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPullImageHandlerRequest
*/
func (a *ImagesAPIService) PullImageHandler(ctx context.Context) ApiPullImageHandlerRequest {
	return ApiPullImageHandlerRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PullImageResponse
func (a *ImagesAPIService) PullImageHandlerExecute(r ApiPullImageHandlerRequest) (*PullImageResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PullImageResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ImagesAPIService.PullImageHandler")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/images/pull"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.pullImageRequest == nil {
		return localVarReturnValue, nil, reportError("pullImageRequest is required and must be specified")
	}

	if r.stream != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "stream", r.stream, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.pullImageRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRemoveImageHandlerRequest struct {
	ctx context.Context
	ApiService *ImagesAPIService
	image string
	force *bool
}

// Force removal even if the image is referenced by containers.
func (r ApiRemoveImageHandlerRequest) Force(force bool) ApiRemoveImageHandlerRequest {
	r.force = &force
	return r
}

func (r ApiRemoveImageHandlerRequest) Execute() (*http.Response, error) {
	return r.ApiService.RemoveImageHandlerExecute(r)
}

/*
RemoveImageHandler Remove an image from the runtime's cache.

# Errors

Returns an error if authentication fails, the image cannot be found, or
the runtime backend does not support image removal.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param image Image reference (URL-encoded)
 @return ApiRemoveImageHandlerRequest
*/
func (a *ImagesAPIService) RemoveImageHandler(ctx context.Context, image string) ApiRemoveImageHandlerRequest {
	return ApiRemoveImageHandlerRequest{
		ApiService: a,
		ctx: ctx,
		image: image,
	}
}

// Execute executes the request
func (a *ImagesAPIService) RemoveImageHandlerExecute(r ApiRemoveImageHandlerRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ImagesAPIService.RemoveImageHandler")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/images/{image}"
	localVarPath = strings.Replace(localVarPath, "{"+"image"+"}", url.PathEscape(parameterValueToString(r.image, "image")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.force != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "force", r.force, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiTagImageHandlerRequest struct {
	ctx context.Context
	ApiService *ImagesAPIService
	tagImageRequest *TagImageRequest
}

func (r ApiTagImageHandlerRequest) TagImageRequest(tagImageRequest TagImageRequest) ApiTagImageHandlerRequest {
	r.tagImageRequest = &tagImageRequest
	return r
}

func (r ApiTagImageHandlerRequest) Execute() (*http.Response, error) {
	return r.ApiService.TagImageHandlerExecute(r)
}

/*
TagImageHandler Create a new tag pointing at an existing image.

Docker-compat `POST /api/v1/images/tag`: takes `{ source, target }` and
asks the runtime to make `target` resolve to the same content as `source`.
Both references must be non-empty; `target` is split on the last `:` into
repository + tag (defaulting tag to `latest`).

# Errors

Returns `400` if the request body is malformed, `404` if the source image
is not in the cache, `403` if the caller lacks the `operator` role, `501`
if the runtime does not support tagging, and `500` for other runtime
errors.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiTagImageHandlerRequest
*/
func (a *ImagesAPIService) TagImageHandler(ctx context.Context) ApiTagImageHandlerRequest {
	return ApiTagImageHandlerRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *ImagesAPIService) TagImageHandlerExecute(r ApiTagImageHandlerRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ImagesAPIService.TagImageHandler")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/images/tag"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.tagImageRequest == nil {
		return nil, reportError("tagImageRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.tagImageRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
