/*
ZLayer API

Container orchestration API for ZLayer

API version: 0.1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zlayer

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// AuditAPIService AuditAPI service
type AuditAPIService service

type ApiListAuditRequest struct {
	ctx context.Context
	ApiService *AuditAPIService
	user *string
	resourceKind *string
	since *string
	until *string
	limit *int32
}

// Filter by user id.
func (r ApiListAuditRequest) User(user string) ApiListAuditRequest {
	r.user = &user
	return r
}

// Filter by resource kind.
func (r ApiListAuditRequest) ResourceKind(resourceKind string) ApiListAuditRequest {
	r.resourceKind = &resourceKind
	return r
}

// Only entries at or after this timestamp (RFC 3339).
func (r ApiListAuditRequest) Since(since string) ApiListAuditRequest {
	r.since = &since
	return r
}

// Only entries at or before this timestamp (RFC 3339).
func (r ApiListAuditRequest) Until(until string) ApiListAuditRequest {
	r.until = &until
	return r
}

// Maximum number of entries to return (default 100).
func (r ApiListAuditRequest) Limit(limit int32) ApiListAuditRequest {
	r.limit = &limit
	return r
}

func (r ApiListAuditRequest) Execute() ([]AuditEntry, *http.Response, error) {
	return r.ApiService.ListAuditExecute(r)
}

/*
ListAudit List audit log entries. Admin only.

# Errors

Returns [`ApiError::Forbidden`] when the caller is not an admin, or
[`ApiError::Internal`] if the store fails.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListAuditRequest
*/
func (a *AuditAPIService) ListAudit(ctx context.Context) ApiListAuditRequest {
	return ApiListAuditRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []AuditEntry
func (a *AuditAPIService) ListAuditExecute(r ApiListAuditRequest) ([]AuditEntry, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []AuditEntry
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuditAPIService.ListAudit")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/audit"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.user != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "user", r.user, "form", "")
	}
	if r.resourceKind != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "resource_kind", r.resourceKind, "form", "")
	}
	if r.since != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "since", r.since, "form", "")
	}
	if r.until != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "until", r.until, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
